<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
    
<hibernate-configuration>

    <session-factory>
        <property name="hbm2ddl.auto">update</property>    
        <property name="dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="hibernate.hbm2ddl.auto">update</property>
            <!--控制台打印sql语句-->
        <property name="connection.url">
            jdbc:mysql://localhost:3306/student
        </property>

        <property name="connection.username">root</property>
        <property name="connection.password">q4x1m5h6</property>
        <property name="connection.driver_class">
         <!--  property name=” hibernate.connection.isolation”>4-->
            com.mysql.jdbc.Driver
        </property>
    
        <property name="show_sql">true</property>
        <!--采用注解的方式代替映射文件  -->
        <mapping class="sun8.User"/>
        
    </session-factory>
</hibernate-configuration>